<html>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <!--Main heading-->
    <h1 class="text-3xl font-bold pt-6 pl-6">Task Manager</h1>
    
    <div class="ml-96 bg-red">
        <br>
        <h1 class="text-2xl font-bold pt-6 pb-12">Update Task</h1>
        &nbsp;
        <form action="" method="post" class="pl-24">
            {% csrf_token %}
            <p class="text-left text-lg">Title</p><br>
            <input class="border border-4 rounded leading-loose bg-gray-200 px-2" type="text" name="Login" text="{{task.title}}"><br><br>
            <p class="text-left text-lg">Description</p><br>
            <input class="border border-4 rounded leading-loose bg-gray-200 px-2" height=200px type="text" name="Password" text="{{task.description}}"><br><br>
            <p class="text-left text-lg">Priority</p><br>
            <input class="border border-4 rounded leading-loose bg-gray-200 px-2" type="text" name="Password" text="{{task.priority}}"><br><br>
            <div class="flex">
                <input class="border border-4 rounded leading-loose bg-gray-200 px-2" type="checkbox" name="Completed">&nbsp;<p class="text-left text-lg">Completed</p><br><br>
            </div>
            <button type="submit" class="text-white rounded-lg px-20 py-3 bg-red-500 text-black hover:bg-red-700">Update</button>

        </form>
    </div>
</html>
